In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [ ]:
df_train=pd.read_csv(r"/content/Train_Datasets.csv")
df_train

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,12142509,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,12138936,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,12181264,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0
3,12188929,15750,0.0,0.0,1.0,1.0,0.0,53870.4,2295.45,Alone,...,Yes,Yes,XNA,NaN,0.135182,0.631355,NaN,1700.0,3.0,0
4,12133385,33750,1.0,0.0,1.0,0.0,2.0,133988.4,3547.35,Alone,...,Yes,Yes,Business Entity Type 3,0.508199,0.301182,0.355639,0.2021,674.0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121851,12207714,29250,0.0,0.0,NaN,1.0,0.0,107820,3165.3,Relative,...,Yes,No,Business Entity Type 2,NaN,0.173527,0.184116,0.0577,0.0,1.0,1
121852,12173765,15750,0.0,1.0,1.0,0.0,0.0,104256,3388.05,Alone,...,Yes,Yes,Self-employed,NaN,0.371559,0.406617,0.0825,4.0,0.0,0
121853,12103937,8100,0.0,1.0,0.0,1.0,1.0,55107.9,2989.35,Alone,...,No,No,Trade: type 6,0.169049,0.048079,NaN,NaN,0.0,NaN,0
121854,12170623,38250,1.0,1.0,0.0,1.0,0.0,45000,2719.35,Alone,...,Yes,Yes,Business Entity Type 3,0.182737,0.103538,0.077499,0.0979,0.0,2.0,0
121855,12105610,9000,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,Alone,...,Yes,Yes,Business Entity Type 3,NaN,0.556414,0.298595,0.1031,805.0,0.0,0

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 40 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118249 non-null  object
 2   Car_Owned                   118275 non-null  float64
 3   Bike_Owned                  118232 non-null  float64
 4   Active_Loan                 118221 non-null  float64
 5   House_Own                   118195 non-null  float64
 6   Child_Count                 118218 non-null  float64
 7   Credit_Amount               118224 non-null  object
 8   Loan_Annuity                117044 non-null  object
 9   Accompany_Client            120110 non-null  object
 10  Client_Income_Type          118155 non-null  object
 11  Client_Education            118211 non-null  object
 12  Client_Marital_Status       118383 non-null  object
 13  Client_Gender               119443 non-null  object
 14  Loan_Contract_Type          118205 non-null  object
 15  Client_Housing_Type         118169 non-null  object
 16  Population_Region_Relative  116999 non-null  object
 17  Age_Days                    118256 non-null  object
 18  Employed_Days               118207 non-null  object
 19  Registration_Days           118242 non-null  object
 20  ID_Days                     115888 non-null  object
 21  Own_House_Age               41761 non-null   float64
 22  Mobile_Tag                  121856 non-null  int64
 23  Homephone_Tag               121856 non-null  int64
 24  Workphone_Working           121856 non-null  int64
 25  Client_Occupation           80421 non-null   object
 26  Client_Family_Members       119446 non-null  float64
 27  Cleint_City_Rating          119447 non-null  float64
 28  Application_Process_Day     119428 non-null  float64
 29  Application_Process_Hour    118193 non-null  float64
 30  Client_Permanent_Match_Tag  121856 non-null  object
 31  Client_Contact_Work_Tag     121856 non-null  object
 32  Type_Organization           118247 non-null  object
 33  Score_Source_1              53021 non-null   float64
 34  Score_Source_2              116170 non-null  float64
 35  Score_Source_3              94935 non-null   object
 36  Social_Circle_Default       59928 non-null   float64
 37  Phone_Change                118192 non-null  float64
 38  Credit_Bureau               103316 non-null  float64
 39  Default                     121856 non-null  int64
dtypes: float64(15), int64(5), object(20)
memory usage: 37.2+ MB

In [ ]:
df_train.nunique()

ID                            121856
Client_Income                   1516
Car_Owned                          2
Bike_Owned                         2
Active_Loan                        2
House_Own                          2
Child_Count                       14
Credit_Amount                   6816
Loan_Annuity                   16680
Accompany_Client                   7
Client_Income_Type                 8
Client_Education                   5
Client_Marital_Status              4
Client_Gender                      3
Loan_Contract_Type                 2
Client_Housing_Type                6
Population_Region_Relative       164
Age_Days                       22583
Employed_Days                  13220
Registration_Days              19254
ID_Days                         9655
Own_House_Age                     55
Mobile_Tag                         2
Homephone_Tag                      2
Workphone_Working                  2
Client_Occupation                 18
Client_Family_Members             15
Cleint_City_Rating                 3
Application_Process_Day            7
Application_Process_Hour          24
Client_Permanent_Match_Tag         2
Client_Contact_Work_Tag            2
Type_Organization                 58
Score_Source_1                 43968
Score_Source_2                 67016
Score_Source_3                  1430
Social_Circle_Default           1882
Phone_Change                    3590
Credit_Bureau                     21
Default                            2
dtype: int64

In [ ]:
#Data Pre-processing
df_train.isna().sum()

ID                                0
Client_Income                  3607
Car_Owned                      3581
Bike_Owned                     3624
Active_Loan                    3635
House_Own                      3661
Child_Count                    3638
Credit_Amount                  3632
Loan_Annuity                   4812
Accompany_Client               1746
Client_Income_Type             3701
Client_Education               3645
Client_Marital_Status          3473
Client_Gender                  2413
Loan_Contract_Type             3651
Client_Housing_Type            3687
Population_Region_Relative     4857
Age_Days                       3600
Employed_Days                  3649
Registration_Days              3614
ID_Days                        5968
Own_House_Age                 80095
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             41435
Client_Family_Members          2410
Cleint_City_Rating             2409
Application_Process_Day        2428
Application_Process_Hour       3663
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              3609
Score_Source_1                68835
Score_Source_2                 5686
Score_Source_3                26921
Social_Circle_Default         61928
Phone_Change                   3664
Credit_Bureau                 18540
Default                           0
dtype: int64

In [ ]:
#dropping ID column, if it exists
if 'ID' in df_train.columns:
    df_train.drop(["ID"],axis=1,inplace= True)
else:
    print("Column 'ID' not found in the DataFrame.")

df_train.head(3)

Column 'ID' not found in the DataFrame.

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,6750,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,20250,1.0,0.0,1.0,NaN,0.0,15282,1826.55,Alone,Service,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,18000,0.0,0.0,1.0,0.0,1.0,59527.35,2788.2,Alone,Service,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0

In [ ]:
df_train['Client_Income'].tolist()

['6750',
 '20250',
 '18000',
 '15750',
 '33750',
 '11250',
 '15750',
 '13500',
 '13500',
 '12150',
 '27000',
 '15750',
 '27000',
 '8100',
 '22500',
 '45000',
 '11250',
 '13500',
 '15750',
 '9000',
 '18000',
 '27000',
 '15750',
 '18000',
 '19350',
 '22500',
 '31500',
 '11250',
 '21600',
 '27000',
 '20250',
 '22500',
 '11250',
 '15750',
 '4500',
 '18000',
 '35550',
 '32480.55',
 '13500',
 '12150',
 '13950',
 '15750',
 '31500',
 '9000',
 '22500',
 '22500',
 '9000',
 '24750',
 '18000',
 '17100',
 '12600',
 '6750',
 '54000',
 '22500',
 '11250',
 '14400',
 nan,
 '11250',
 '12150',
 '9000',
 '21600',
 '13500',
 '13950',
 '24750',
 '11250',
 '21600',
 '20250',
 '18000',
 '6525',
 '11250',
 '11250',
 '7650',
 '18000',
 '22500',
 '13500',
 '15750',
 '15750',
 '18000',
 '13500',
 '18900',
 '18000',
 '8100',
 '18000',
 '16200',
 '7200',
 '9450',
 '7560',
 '22050',
 '27000',
 '9900',
 '18000',
 '9000',
 '19350',
 '27000',
 '13500',
 '15750',
 '9000',
 '18000',
 '13500',
 '9000',
 '20250',
 '22500',
 '27000',
 '11250',
 '27000',
 '13500',
 '18000',
 '11250',
 '18000',
 '36000',
 '11250',
 '6750',
 nan,
 '9000',
 '21600',
 '9000',
 '20250',
 '9000',
 '12600',
 '11250',
 '18000',
 '12150',
 '27000',
 '8100',
 '15750',
 '18000',
 '18000',
 '13500',
 '20250',
 nan,
 '15750',
 '18000',
 nan,
 '13500',
 '54000',
 '45000',
 '13500',
 '18900',
 '11700',
 '13500',
 '36000',
 nan,
 '9900',
 '40050',
 '8100',
 '22500',
 '20250',
 '20250',
 '11250',
 '18000',
 '31500',
 '11250',
 '10350',
 '11700',
 '27000',
 '30600',
 '9000',
 '11250',
 '11250',
 '22500',
 '13500',
 '18000',
 '11700',
 '2790',
 '18000',
 '11250',
 '6750',
 '11250',
 '24750',
 '11250',
 '14400',
 '18000',
 '22500',
 '14400',
 '27000',
 '29700',
 '45000',
 '15750',
 '11700',
 '9450',
 '15750',
 '6750',
 '31365',
 nan,
 '22500',
 '15750',
 '9000',
 '22500',
 '17100',
 '15750',
 '18000',
 '9000',
 '20250',
 '8100',
 '13500',
 '13500',
 '9000',
 '9000',
 '12150',
 '13500',
 '17100',
 '11250',
 nan,
 '45000',
 '7425',
 '10350',
 '18900',
 '4590',
 '31500',
 '13500',
 '9900',
 '18000',
 '15750',
 '15750',
 '13500',
 '13500',
 '24750',
 nan,
 '10350',
 '27000',
 '9000',
 '27000',
 '15750',
 '6750',
 '13500',
 '13500',
 '22500',
 '11250',
 '22500',
 '11250',
 '31500',
 '13500',
 '11700',
 '13500',
 '9000',
 '16200',
 '9000',
 '8100',
 '7650',
 '10350',
 '11250',
 '29250',
 '13500',
 '13500',
 '12150',
 '13500',
 nan,
 '18900',
 '9000',
 '15750',
 nan,
 '11250',
 '9000',
 '9000',
 '13500',
 '6750',
 '67500',
 '10350',
 '63000',
 nan,
 '20250',
 '9000',
 '42750',
 '15750',
 '22500',
 '22500',
 '35100',
 '13500',
 '13500',
 '7650',
 '8100',
 '22500',
 '11250',
 '15750',
 '9000',
 '20250',
 '27000',
 '10350',
 '11250',
 '24750',
 '11250',
 '11250',
 '16650',
 '8100',
 '45000',
 '9000',
 '6750',
 '9000',
 '29250',
 '11250',
 '27900',
 '9000',
 '23850',
 '18000',
 '13500',
 '18000',
 '12600',
 '18000',
 '6750',
 '31050',
 '9000',
 nan,
 '12150',
 '15750',
 '20250',
 '6750',
 '7650',
 '10800',
 '18000',
 '20250',
 '18000',
 '11250',
 '13500',
 '30150',
 '12150',
 '22500',
 '15750',
 '45000',
 '20250',
 '6750',
 '13500',
 '12600',
 '18450',
 '11700',
 '9900',
 '15750',
 '9000',
 '22500',
 '10350',
 '17100',
 '3600',
 nan,
 '13500',
 '15750',
 '15750',
 '18900',
 '20250',
 '22500',
 '9000',
 '6750',
 '13500',
 '13500',
 '15750',
 '13500',
 '11250',
 '11250',
 '13500',
 '12825',
 '16200',
 '9000',
 '6750',
 '9000',
 '13500',
 '36000',
 '11250',
 '31500',
 '22500',
 '6750',
 '11250',
 '13500',
 '5625',
 '38250',
 '45000',
 '4950',
 '13500',
 '11250',
 '13500',
 '29250',
 '11250',
 '14850',
 '9000',
 '13500',
 '11250',
 '8775',
 '15750',
 '18000',
 nan,
 '21600',
 '13500',
 '20250',
 '30600',
 '15750',
 '23620.5',
 '6300',
 '11700',
 '22500',
 '9000',
 '13500',
 '15750',
 '6750',
 '27000',
 '22500',
 '11250',
 '15300',
 '18000',
 '11250',
 '22500',
 '11250',
 '18000',
 '9450',
 '18000',
 '31500',
 '11250',
 '13500',
 '18000',
 '36000',
 '16650',
 nan,
 '22500',
 '6750',
 '13500',
 '15750',
 '90000',
 '15750',
 '11250',
 '9000',
 '9900',
 '18000',
 '20250',
 '11250',
 '45000',
 '31500',
 '17100',
 '12600',
 '9000',
 '9000',
 '29250',
 '10800',
 '22050',
 '24750',
 '11700',
 '27000',
 '13500',
 '22500',
 '6750',
 '22500',
 '20250',
 '12600',
 '12600',
 '38250',
 '9900',
 '9450',
 '15750',
 '31500',
 '9000',
 '13500',
 '20250',
 '9000',
 '9900',
 '18900',
 '15750',
 '31500',
 '9000',
 '29250',
 '13500',
 '22500',
 '58500',
 '9000',
 '13500',
 '15750',
 '24750',
 '16650',
 '8100',
 '17100',
 '11700',
 '9000',
 '6750',
 '22500',
 '13500',
 '24300',
 '12600',
 '11700',
 '11250',
 '15750',
 '9000',
 '26100',
 '18000',
 '11250',
 '20250',
 '42750',
 '11250',
 '7650',
 '9585',
 '6750',
 '13500',
 '13500',
 '24750',
 '12150',
 '6750',
 '9000',
 '27000',
 '12600',
 '18000',
 '18000',
 '18000',
 '10636.2',
 '12600',
 '11250',
 '22500',
 '7200',
 '18000',
 '9000',
 '5850',
 '11250',
 '31500',
 '12150',
 '11250',
 '11250',
 '8550',
 '9000',
 '18000',
 '11250',
 '7200',
 '8100',
 '13500',
 '31500',
 '20250',
 '9000',
 '15750',
 '17550',
 '21150',
 '22500',
 '5906.7',
 '22500',
 '11250',
 '20250',
 '21600',
 '15750',
 '90000',
 '3600',
 '6300',
 '11250',
 '9450',
 nan,
 '22500',
 '29250',
 '13500',
 '11250',
 '4500',
 '9000',
 '15750',
 '27000',
 '11250',
 '22500',
 '6750',
 '11250',
 '20700',
 '15750',
 '22500',
 '20250',
 '18000',
 '9900',
 '13500',
 '22500',
 '20250',
 '13500',
 '8550',
 nan,
 '9000',
 '11250',
 '15750',
 '13500',
 nan,
 '22500',
 '22500',
 '39174.75',
 '24750',
 '22500',
 '11700',
 '12600',
 '22500',
 '18000',
 '5175',
 '13950',
 '11250',
 '13500',
 '18000',
 '18000',
 '12150',
 '14400',
 '9000',
 '18000',
 '9000',
 '15750',
 '11250',
 '15750',
 '9000',
 '22500',
 '13500',
 '9000',
 '25079.4',
 '22500',
 '20250',
 '13500',
 '24750',
 '6750',
 '20430',
 '20250',
 '13500',
 '18000',
 '18000',
 '20250',
 '24750',
 '38250',
 '11250',
 '13500',
 '9000',
 '15300',
 '11250',
 '15750',
 '6750',
 '11250',
 '18000',
 '18000',
 '27000',
 '13500',
 '13500',
 '11250',
 '9000',
 '6300',
 '15750',
 '11250',
 '15750',
 '17100',
 '14400',
 '28350',
 '7650',
 '13500',
 '6750',
 '24750',
 '8550',
 '6750',
 '11250',
 '13500',
 nan,
 '38250',
 '11700',
 '11250',
 '12600',
 '22500',
 '3600',
 '7650',
 '13500',
 '18900',
 '13500',
 '8100',
 '13500',
 '20250',
 '11250',
 '24750',
 '11250',
 '7200',
 '33750',
 '14850',
 '14850',
 '13500',
 '9000',
 '20250',
 '12150',
 '14850',
 '22050',
 '20250',
 '10350',
 '15750',
 '13500',
 '13500',
 '13500',
 '12600',
 '18000',
 '9900',
 '18000',
 '22500',
 '31500',
 '18000',
 '11250',
 '11250',
 '9000',
 '23490',
 '18000',
 '11250',
 nan,
 '7875',
 '38250',
 '8100',
 '18900',
 '18000',
 '11700',
 '6750',
 '18000',
 '11250',
 '15750',
 '45000',
 '32400',
 '22500',
 '27000',
 '24750',
 '7200',
 '14850',
 '10800',
 '18000',
 '13500',
 '27000',
 '15750',
 '18000',
 '22500',
 '6750',
 '15750',
 '13500',
 '12600',
 '20250',
 '10800',
 '14400',
 '6750',
 '16650',
 '18000',
 '18450',
 '10800',
 '15750',
 '9000',
 '15750',
 '24750',
 '31500',
 '18000',
 '18000',
 '10350',
 '7650',
 '16650',
 '20250',
 '20250',
 '10350',
 '18000',
 '16650',
 '12600',
 '27000',
 '15750',
 '22500',
 '13500',
 '10350',
 '12600',
 '11250',
 '4500',
 '12600',
 '31500',
 '28800',
 '20250',
 '13500',
 '9450',
 '11700',
 '11250',
 '22500',
 '40500',
 '18000',
 '18000',
 '8100',
 '11250',
 '11700',
 '11250',
 '27000',
 '33750',
 '13500',
 '15750',
 '11250',
 '18900',
 '22500',
 '9900',
 '40500',
 '9000',
 '7650',
 '18900',
 '22500',
 '13500',
 '9000',
 '27000',
 '33750',
 '15750',
 '6300',
 '11025',
 '13500',
 '11250',
 '15750',
 '13500',
 '9000',
 '13500',
 '13500',
 '13500',
 '11250',
 '20250',
 '18000',
 '27000',
 '11250',
 '12600',
 '7650',
 '11250',
 '20250',
 '10350',
 nan,
 nan,
 '18000',
 '11250',
 '11250',
 '18000',
 '22500',
 '11250',
 '27000',
 '22500',
 '15750',
 '6750',
 '20250',
 '22500',
 '22500',
 '22500',
 '13500',
 '9450',
 '27000',
 '6750',
 '16650',
 '15750',
 '13500',
 '11250',
 '9000',
 '11250',
 '13500',
 '22500',
 '13500',
 '8100',
 '15750',
 '13500',
 '9000',
 '13950',
 '15750',
 '15750',
 '21600',
 '7650',
 '8100',
 '31500',
 '13500',
 '31500',
 '13500',
 '15750',
 '13500',
 '15750',
 '15750',
 '22500',
 '15750',
 '12600',
 '12600',
 '9450',
 '11250',
 '37800',
 '6750',
 '11250',
 '20250',
 '13500',
 '9000',
 '9000',
 '13500',
 '15750',
 '9000',
 '18000',
 '31500',
 '33750',
 '11925',
 '36900',
 '11250',
 '13500',
 '15750',
 '18000',
 '16200',
 '13500',
 '9000',
 '22500',
 '18000',
 '15750',
 nan,
 '15750',
 '11250',
 '13500',
 '20250',
 '9000',
 nan,
 '10350',
 '13500',
 '18000',
 '13500',
 '22500',
 '13500',
 '23400',
 '24750',
 '22500',
 '4500',
 '18000',
 '9000',
 '15750',
 nan,
 '7200',
 '6750',
 '27000',
 '15750',
 '8100',
 '27900',
 '15750',
 '11250',
 '45000',
 '31500',
 '18000',
 '9000',
 '9000',
 '13500',
 '16824.15',
 '12915',
 '18000',
 '13500',
 '27000',
 nan,
 '6750',
 '13500',
 '29250',
 '15750',
 '13500',
 '9000',
 '13050',
 '27000',
 '11250',
 '27000',
 '22500',
 '11925',
 '13050',
 '4500',
 '11250',
 '11250',
 '36000',
 '27000',
 '24750',
 '22500',
 '11250',
 '24750',
 '18000',
 '9000',
 '20250',
 '25200',
 '11250',
 '15750',
 nan,
 '18000',
 '5985',
 '9900',
 '20250',
 '31500',
 '10350',
 '18000',
 '20250',
 '24750',
 nan,
 '15750',
 '12600',
 '6750',
 '20250',
 '6750',
 '22500',
 '22500',
 '15750',
 '8100',
 '24750',
 nan,
 '27000',
 '4500',
 '20250',
 '31500',
 '27000',
 '27000',
 '63000',
 '15750',
 '11250',
 '11250',
 '23850',
 '18900',
 '11250',
 '11250',
 '11250',
 '15750',
 '11250',
 '13500',
 nan,
 '9000',
 '6750',
 '13950',
 '13500',
 '11700',
 '4230',
 '12600',
 '36000',
 '4275',
 '9000',
 '15750',
 '6750',
 '10800',
 '11700',
 '16200',
 '20250',
 '6750',
 ...]

In [ ]:
df_train['Credit_Amount'].tolist()

['61190.55',
 '15282',
 '59527.35',
 '53870.4',
 '133988.4',
 '13752',
 '128835',
 '60415.2',
 '45000',
 '16320.15',
 '67500',
 '149963.85',
 '28440',
 '90000',
 '100424.7',
 '105493.5',
 '29713.05',
 '18000',
 '45000',
 '22500',
 '128835',
 '38053.35',
 '49121.1',
 '77368.05',
 '111384',
 '89660.25',
 '125640',
 '17064',
 '125956.35',
 '38152.8',
 '157500',
 '43787.7',
 '18000',
 '20250',
 '15282',
 '67500',
 '77968.8',
 '13500',
 '201384',
 '25128',
 '80865',
 '60415.2',
 '52823.25',
 '9000',
 '82567.35',
 '125640',
 '28440',
 '77702.4',
 '107820',
 '90000',
 '28440',
 '40500',
 '24750',
 '50326.65',
 '64008',
 '21564',
 '39096',
 '31276.8',
 '80865',
 '90000',
 '112500',
 '22500',
 '30600',
 '103500',
 '36000',
 '41702.4',
 '123681.6',
 '221522.4',
 '28440',
 '27000',
 '97038',
 '24750',
 '36000',
 '14391',
 '45000',
 '15750',
 '125640',
 '168726.6',
 '31410',
 '17064',
 '54504',
 '54000',
 '45000',
 '123681.6',
 '26100',
 '51856.2',
 '28670.4',
 '129350.25',
 '52128',
 '24750',
 '49182.3',
 '15282',
 '67500',
 '76022.55',
 '22500',
 '128835',
 '90568.8',
 '34826.4',
 '54449.1',
 '50849.55',
 '33192',
 '58846.5',
 '53366.85',
 '13500',
 '55380.6',
 '15282',
 '75519',
 '22500',
 '59256',
 '27450',
 '45000',
 '20250',
 '90000',
 '70083',
 '42245.1',
 '66494.7',
 '45000',
 '24727.5',
 '29628',
 '30146.4',
 '131400.45',
 '19554.3',
 '64008',
 '9169.2',
 '45000',
 nan,
 '27000',
 '18000',
 '78192',
 '125865',
 '55848.6',
 '31276.8',
 '83538',
 '33750',
 nan,
 '102474',
 '34650',
 '27363.6',
 '20885.4',
 '48149.55',
 '83904.3',
 '112859.55',
 '53910',
 '49752',
 '70083',
 '45000',
 '54000',
 '114906.6',
 '27363.6',
 '36738.9',
 '84874.5',
 '22500',
 '80865',
 '42300',
 '40500',
 '80865',
 '11944.8',
 '83021.4',
 '112500',
 '55255.5',
 '45000',
 '48149.55',
 nan,
 nan,
 '64045.8',
 '135000',
 '6622.2',
 '38700',
 '75519',
 '81404.1',
 '33792.3',
 '50367.6',
 '160927.2',
 '30942',
 '63133.2',
 '33183.45',
 '53905.95',
 '24750',
 '35553.6',
 '35324.1',
 nan,
 '18000',
 '51206.4',
 '67500',
 '33300',
 '49752',
 '45000',
 '20628',
 '27000',
 '57340.8',
 '27370.8',
 '67500',
 '35553.6',
 '13500',
 '90000',
 '80865',
 '25470',
 '60147',
 '25470',
 '27000',
 '46328.4',
 '38152.8',
 '90000',
 '93564',
 '18868.5',
 '81404.1',
 '122301',
 '13752',
 '135000',
 '41479.2',
 '13500',
 '67500',
 '45000',
 '45000',
 '22950',
 '62553.6',
 nan,
 '54504',
 '15300',
 '106313.85',
 '128835',
 '90000',
 '128835',
 '26955',
 '33333.75',
 '18565.2',
 '122301',
 '76022.55',
 '153555.3',
 '10782',
 '173065.5',
 '18000',
 nan,
 '94230',
 '67387.5',
 '45450',
 '26368.65',
 nan,
 '15638.4',
 '135000',
 '21372.3',
 '57340.8',
 '54504',
 '81404.1',
 '26955',
 '29138.4',
 '79755.75',
 '15282',
 '21586.5',
 '81000',
 '22414.95',
 '36489.6',
 '80865',
 '30755.7',
 '55358.1',
 '22500',
 '90000',
 '54734.4',
 '101250',
 '45000',
 '135450',
 '32850',
 nan,
 '55358.1',
 '39893.4',
 '59256',
 '75519',
 '53870.4',
 '33994.8',
 '20730.6',
 '80865',
 '53870.4',
 '65159.55',
 '28670.4',
 '26955',
 '82482.3',
 '67500',
 '29250',
 '80865',
 '66600',
 '80100',
 '50850',
 '96179.4',
 '24750',
 '61684.65',
 '18000',
 '22500',
 '18000',
 '108747.45',
 '28440',
 '171483.3',
 '27861.3',
 '45450',
 '54000',
 '54504',
 '25470',
 '55098',
 '67500',
 '29250',
 '83560.5',
 '6112.8',
 '33750',
 '22500',
 '23985',
 '83070.9',
 '90000',
 '12363.75',
 '59007.15',
 '54504',
 '36489.6',
 '157500',
 '52128',
 '18900',
 '150681.6',
 '7641',
 '23985',
 '119358',
 '152820',
 '59947.2',
 nan,
 '51778.8',
 '65449.8',
 '68760',
 '74934.9',
 '43266.15',
 '72450',
 '9594',
 '180000',
 '40050',
 '153555.3',
 '41479.2',
 '52128',
 '67500',
 '23985',
 '77968.8',
 '81404.1',
 '10425.6',
 '50849.55',
 '25470',
 '25470',
 '36000',
 nan,
 '55098',
 '103209.3',
 '57362.85',
 '89490.6',
 '55255.5',
 nan,
 '47376',
 '54504',
 '31998.15',
 '43128',
 '9669.6',
 '22500',
 '12600',
 '48564',
 '33750',
 '20739.6',
 '36000',
 '20250',
 '5094',
 '98522.1',
 '123750',
 '80865',
 '10188',
 '17829',
 '27000',
 '90000',
 '27871.2',
 '104614.2',
 '24727.5',
 '31405.5',
 '13032',
 '31410',
 '56249.1',
 '34337.7',
 '84501.45',
 '20250',
 '39096',
 '27363.6',
 '54504',
 '45000',
 '56880',
 '20250',
 '15282',
 '50849.55',
 '25470',
 '41702.4',
 '19554.3',
 '7195.5',
 '127859.4',
 '100692',
 '22500',
 '135000',
 '67766.4',
 '59033.7',
 '15282',
 '18000',
 '54000',
 '27504',
 '80347.95',
 '161107.2',
 '96114.6',
 '63133.2',
 '112500',
 '55255.5',
 '52128',
 '36000',
 '70484.4',
 '27504',
 '45000',
 '32836.5',
 '71509.5',
 '47970',
 '52128',
 '58500',
 '52649.1',
 '40432.5',
 '77702.4',
 '22500',
 '45000',
 '52128',
 '118528.2',
 '20250',
 '18000',
 '18000',
 '85500',
 '26955',
 '101479.05',
 '22500',
 '67500',
 '52128',
 '112500',
 '18329.4',
 '66309.3',
 '81000',
 '79755.75',
 '88884',
 '26955',
 '152025.3',
 '90000',
 '54000',
 '59256',
 '107820',
 '29138.4',
 '43128',
 '67500',
 '45000',
 '54000',
 '108042.3',
 '90814.5',
 '164937.6',
 '54504',
 '125568',
 '80865',
 '17632.8',
 '180000',
 '51206.4',
 '32850',
 '33883.2',
 '57340.8',
 '71986.05',
 '27000',
 '28440',
 '78750',
 nan,
 '18000',
 '75519',
 '49752',
 '135000',
 '25650',
 '24750',
 '18000',
 '76022.55',
 nan,
 '18000',
 '70083',
 '107820',
 '71700.3',
 '78192',
 '27796.95',
 '25470',
 '63596.25',
 '18000',
 '22254.75',
 '49500',
 '24727.5',
 '37923.75',
 '32702.4',
 '27000',
 '100692',
 '22950',
 '13500',
 '50042.7',
 '108000',
 '13500',
 '35834.4',
 '36146.25',
 '45000',
 '79786.8',
 '31276.8',
 '67500',
 nan,
 '11512.8',
 '176211',
 '94230',
 '26100',
 '18000',
 '129350.25',
 '90000',
 '90000',
 '59301',
 '35553.6',
 '15300',
 '38851.2',
 nan,
 '48149.55',
 '112950',
 '25470',
 '75384',
 '45000',
 nan,
 nan,
 '100964.25',
 '17202.15',
 '101649.6',
 '80865',
 '67500',
 '98459.1',
 '21801.6',
 '31500',
 '18000',
 '41605.2',
 '54504',
 '33183.45',
 '178381.8',
 '23985',
 '33750',
 '22500',
 nan,
 '51750',
 '31410',
 '125227.8',
 '90000',
 '12363.75',
 '25470',
 '45000',
 '51750',
 '49049.55',
 '100692',
 '10188',
 '51856.2',
 '128835',
 '63939.6',
 '63000',
 nan,
 '15750',
 '80865',
 '16173',
 '18000',
 '18000',
 '25739.1',
 '32702.4',
 '49752',
 '112500',
 '135000',
 '117870.3',
 '89107.2',
 '41479.2',
 '103500',
 '176211',
 '24750',
 '5094',
 '15750',
 '25739.1',
 '29628',
 '45627.3',
 '28800',
 '80865',
 '26100',
 '124718.4',
 '72846',
 '9594',
 '31284',
 '80553.6',
 '53691.75',
 '78192',
 '50690.25',
 '43603.2',
 '38250',
 '157500',
 '128835',
 '38152.8',
 '97128',
 '45000',
 '26710.2',
 '53732.25',
 '101961',
 '67500',
 '72243',
 '84078',
 nan,
 '67500',
 '67500',
 '154602',
 '15300',
 '67950',
 '63939.6',
 '75519',
 '112500',
 '28350',
 '47404.8',
 '34404.3',
 '130320',
 '116553.6',
 '27000',
 '76500',
 '60750',
 '10188',
 '20250',
 '27627.75',
 '78713.1',
 '122301',
 '49500',
 '112500',
 '45900',
 '49500',
 '31410',
 '22500',
 '59256',
 '65181.6',
 '43603.2',
 '65159.55',
 '22050',
 '43128',
 '112704.3',
 '37010.7',
 '78750',
 '36000',
 '72399.6',
 '24887.7',
 '80865',
 '25470',
 '27450',
 '67950',
 '25470',
 '19782',
 '65070.45',
 '5569.2',
 '97038',
 '39801.6',
 '49049.55',
 '201384',
 '13500',
 '26368.65',
 '31410',
 '80553.6',
 '14836.5',
 '154602',
 '104614.2',
 nan,
 '71994.6',
 nan,
 '32836.5',
 '90000',
 '27000',
 '32338.8',
 '20276.55',
 '78192',
 '31500',
 '50940',
 '24750',
 '153555.3',
 '80865',
 '112950',
 '22500',
 '18000',
 '36000',
 '78169.5',
 '9669.6',
 '24750',
 '35550',
 '138111.3',
 '75519',
 '27000',
 '38308.95',
 '67500',
 '16810.2',
 '26955',
 '18000',
 '91166.85',
 '123750',
 '113850',
 '24876',
 nan,
 '117473.4',
 '15282',
 '25470',
 '38697.75',
 '128835',
 '104256',
 nan,
 '90000',
 '92250',
 '111384',
 '24727.5',
 '90000',
 '129350.25',
 '50849.55',
 '133835.4',
 '67463.55',
 '59256',
 '13082.4',
 '78036.3',
 '121047.75',
 '52128',
 '67500',
 '58500',
 '20250',
 '22500',
 '53530.65',
 '90000',
 '180000',
 '103712.85',
 '27846',
 '105493.5',
 '67500',
 '59256',
 '25470',
 '135000',
 '70083',
 '24161.85',
 '57362.85',
 '107820',
 '22500',
 '100692',
 '75519',
 '94230',
 '15638.4',
 '18000',
 '15750',
 '43603.2',
 '239143.5',
 '128835',
 '125568',
 nan,
 '9000',
 '55527.3',
 '22276.8',
 '25470',
 '122419.8',
 '75585.6',
 '18000',
 '31067.1',
 '17790.3',
 '15825.6',
 '23985',
 '15282',
 '49752',
 '59256',
 '50849.55',
 '75519',
 '196349.4',
 '45000',
 '13500',
 '117000',
 '15825.6',
 '56880',
 '63266.4',
 '164631.6',
 '65250',
 '64704.6',
 '134550',
 '22500',
 '33294.6',
 '10945.35',
 '49049.55',
 '87009.75',
 '53776.35',
 '128250',
 '64045.8',
 '83560.5',
 '23850',
 '78192',
 '9000',
 '76500',
 '58500',
 '40500',
 '122301',
 '24750',
 '23941.8',
 '13500',
 '54504',
 '93564',
 '68850',
 '22500',
 '33163.2',
 '131211',
 nan,
 '39788.1',
 '22500',
 '146069.1',
 '94230',
 '135000',
 '34337.7',
 '80865',
 '29851.2',
 '135000',
 '128835',
 '54000',
 '50992.2',
 '27000',
 '18000',
 '90000',
 '23985',
 '45000',
 '45000',
 '84143.7',
 '98329.95',
 '106159.95',
 '27000',
 '76022.55',
 '22500',
 '34960.95',
 '81000',
 '90450',
 '17790.3',
 '22500',
 '25470',
 '27000',
 '22752',
 '33294.6',
 '39701.7',
 '28440',
 '105178.95',
 '48600',
 '14391',
 '64008',
 '38250',
 '49500',
 '9594',
 '53420.4',
 '90000',
 '17910.9',
 '28191.6',
 '64800',
 '25109.1',
 '25470',
 '22500',
 '59256',
 '27000',
 '83538',
 '44745.3',
 '45450',
 '24635.7',
 '33415.2',
 '198450',
 '18900',
 '67500',
 '45000',
 '54406.8',
 '28425.6',
 '201384',
 '25650',
 '36000',
 '63939.6',
 '41967.9',
 '49500',
 '45450',
 '10425.6',
 '45000',
 '49500',
 '45450',
 '49053.6',
 '27900',
 '24750',
 '43586.1',
 '177396.3',
 nan,
 '26550',
 '18000',
 '36000',
 '30348.9',
 '45000',
 '54504',
 '83538',
 '78713.1',
 '107820',
 '111384',
 '54449.1',
 nan,
 '8901.9',
 '26368.65',
 '15127.2',
 '9000',
 '13500',
 '128835',
 nan,
 '44442',
 '54504',
 '52315.2',
 '76022.55',
 '188553.6',
 '109251',
 '23985',
 '50849.55',
 '44100',
 '54504',
 nan,
 '52128',
 '21600',
 '25470',
 '45000',
 '25870.95',
 '45450',
 '26955',
 '27000',
 '31950',
 '106675.2',
 '28440',
 '62535.6',
 '97650',
 '54504',
 '112950',
 '52128',
 '22500',
 '50849.55',
 '22500',
 '56249.1',
 '54449.1',
 '89550',
 '89107.2',
 '89325.45',
 '34380',
 '73633.05',
 '48150',
 nan,
 '18000',
 '59301',
 '90000',
 '50849.55',
 '13500',
 '27106.65',
 '18000',
 '54734.4',
 '24750',
 '67500',
 '67500',
 '22500',
 '73499.4',
 '94342.5',
 '29851.2',
 '25470',
 '90000',
 '75519',
 '45000',
 '62218.8',
 '13500',
 '103583.25',
 '45000',
 '50849.55',
 '30146.4',
 '83538',
 '67950',
 '113374.8',
 '80865',
 '84600',
 '64008',
 '70641',
 '67500',
 '90000',
 '58500',
 '79043.4',
 '18000',
 '112707.45',
 '76526.1',
 '26955',
 '22500',
 '49121.1',
 '27000',
 '37692',
 '112500',
 '97128',
 '38152.8',
 '9000',
 '25470',
 '104256',
 '28440',
 '10188',
 '54000',
 '59702.4',
 '27000',
 '24727.5',
 '27000',
 '18000',
 '112500',
 '22500',
 '67500',
 '26368.65',
 '67500',
 ...]

In [ ]:
#finding columns with object data type
df_train.describe(include="O")

,Client_Income,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,Loan_Contract_Type,Client_Housing_Type,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Client_Occupation,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_3
count,118249,118224.0,117044,120110,118155,118211,118383,119443,118205,118169,116999,118256,118207,118242,115888,80421,121856,121856,118247,94935.0000
unique,1516,6816.0,16680,7,8,5,4,3,2,6,164,22583,13220,19254,9655,18,2,2,58,1430.0000
top,13500,45000.0,900,Alone,Service,Secondary,M,Male,CL,Home,0.035792,20193,365243,1,4053,Laborers,Yes,Yes,Business Entity Type 3,0.7463
freq,11908,2513.0,1885,97409,61028,83911,87349,78463,107118,104870,4159,20,19848,44,73,21024,112454,100015,26279,484.0000

Converting above col. numeric

In [ ]:
#Replacing $ in data to nan and then converting to numeric
df_train.Client_Income.replace("$", np.nan, inplace = True)
df_train.Client_Income = pd.to_numeric(df_train.Client_Income)

In [ ]:
df_train['Client_Income'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 121856 entries, 0 to 121855
Series name: Client_Income
Non-Null Count   Dtype
--------------   -----
118234 non-null  float64
dtypes: float64(1)
memory usage: 952.1 KB

In [ ]:
df_train.Credit_Amount.replace("$", np.nan, inplace = True)
df_train.Credit_Amount = pd.to_numeric(df_train.Credit_Amount)

In [ ]:
df_train.Loan_Annuity.replace(["#VALUE!","$"], np.nan, inplace = True)
df_train.Loan_Annuity = pd.to_numeric(df_train.Loan_Annuity)

In [ ]:
df_train.Age_Days.replace("x", np.nan, inplace = True)
df_train.Age_Days = pd.to_numeric(df_train.Age_Days)

In [ ]:
df_train.Employed_Days.replace("x", np.nan, inplace = True)
df_train.Employed_Days = pd.to_numeric(df_train.Employed_Days)

In [ ]:
df_train.Registration_Days.replace("x", np.nan, inplace = True)
df_train.Registration_Days = pd.to_numeric(df_train.Registration_Days)

In [ ]:
df_train.ID_Days.replace("x", np.nan, inplace = True)
df_train.ID_Days = pd.to_numeric(df_train.ID_Days)

In [ ]:
df_train["Score_Source_3"].replace("&", np.nan, inplace=True)
df_train.Score_Source_3 = pd.to_numeric(df_train.Score_Source_3)

In [ ]:

# New Column is created on the basis of Population_Region_Relative column whether the Client area is Populated area or not

df_train["Population_Region_Relative"].replace(["#","@"], np.nan, inplace=True)
df_train.Population_Region_Relative = pd.to_numeric(df_train.Population_Region_Relative)
populated_Region_mean = df_train.Population_Region_Relative.mean()
temp = df_train.copy()
temp[temp["Population_Region_Relative"] < populated_Region_mean] = 0 # 0 for less populated area
temp[temp["Population_Region_Relative"] >= populated_Region_mean] = 1 # 1 for high populated area
df_train["Population_Region_Relative"] = temp["Population_Region_Relative"]

In [ ]:
df_train.head(3)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau,Default
0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,...,Yes,Yes,Self-employed,0.568066,0.478787,NaN,0.0186,63.0,NaN,0
1,20250.0,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Alone,Service,...,Yes,Yes,Government,0.563360,0.215068,NaN,NaN,NaN,NaN,0
2,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Alone,Service,...,Yes,Yes,Self-employed,NaN,0.552795,0.329655,0.0742,277.0,0.0,0

In [ ]:
#dropping columns with more than 50% null value
df_train.drop(columns=["Own_House_Age","Score_Source_1","Social_Circle_Default"],axis=1,inplace=True)
df_train.head(3)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau,Default
0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,Alone,Commercial,...,6.0,17.0,Yes,Yes,Self-employed,0.478787,NaN,63.0,NaN,0
1,20250.0,1.0,0.0,1.0,NaN,0.0,15282.00,1826.55,Alone,Service,...,3.0,10.0,Yes,Yes,Government,0.215068,NaN,NaN,NaN,0
2,18000.0,0.0,0.0,1.0,0.0,1.0,59527.35,2788.20,Alone,Service,...,4.0,NaN,Yes,Yes,Self-employed,0.552795,0.329655,277.0,0.0,0

In [ ]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 36 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Client_Income               118234 non-null  float64
 1   Car_Owned                   118275 non-null  float64
 2   Bike_Owned                  118232 non-null  float64
 3   Active_Loan                 118221 non-null  float64
 4   House_Own                   118195 non-null  float64
 5   Child_Count                 118218 non-null  float64
 6   Credit_Amount               118219 non-null  float64
 7   Loan_Annuity                117030 non-null  float64
 8   Accompany_Client            120110 non-null  object
 9   Client_Income_Type          118155 non-null  object
 10  Client_Education            118211 non-null  object
 11  Client_Marital_Status       118383 non-null  object
 12  Client_Gender               119443 non-null  object
 13  Loan_Contract_Type          118205 non-null  object
 14  Client_Housing_Type         118169 non-null  object
 15  Population_Region_Relative  116988 non-null  float64
 16  Age_Days                    118239 non-null  float64
 17  Employed_Days               118190 non-null  float64
 18  Registration_Days           118225 non-null  float64
 19  ID_Days                     115871 non-null  float64
 20  Mobile_Tag                  121856 non-null  int64
 21  Homephone_Tag               121856 non-null  int64
 22  Workphone_Working           121856 non-null  int64
 23  Client_Occupation           80421 non-null   object
 24  Client_Family_Members       119446 non-null  float64
 25  Cleint_City_Rating          119447 non-null  float64
 26  Application_Process_Day     119428 non-null  float64
 27  Application_Process_Hour    118193 non-null  float64
 28  Client_Permanent_Match_Tag  121856 non-null  object
 29  Client_Contact_Work_Tag     121856 non-null  object
 30  Type_Organization           118247 non-null  object
 31  Score_Source_2              116170 non-null  float64
 32  Score_Source_3              94934 non-null   float64
 33  Phone_Change                118192 non-null  float64
 34  Credit_Bureau               103316 non-null  float64
 35  Default                     121856 non-null  int64
dtypes: float64(21), int64(4), object(11)
memory usage: 33.5+ MB

In [ ]:
from sklearn.impute import SimpleImputer

si_mean = SimpleImputer(strategy="mean", missing_values=np.nan)
si_mode = SimpleImputer(strategy="most_frequent", missing_values=np.nan)

In [ ]:
# Applying Mode
df_train.iloc[:, 0 : 5] = si_mode.fit_transform(df_train.iloc[:, 0 : 5])
df_train.iloc[:, 8 : 16] = si_mode.fit_transform(df_train.iloc[:, 8 : 16])
df_train.iloc[:, 20 : 31] = si_mode.fit_transform(df_train.iloc[:, 20 : 31])
df_train.iloc[:, 34 : 35] = si_mode.fit_transform(df_train.iloc[:, 34 : 35])

In [ ]:
# Applying Mean
df_train.iloc[:, 6 : 8] = si_mean.fit_transform(df_train.iloc[:, 6 : 8])
df_train.iloc[:, 31 : 34] = si_mean.fit_transform(df_train.iloc[:, 31 : 34])

In [ ]:
# Applying Mean with Round Function for req columns
df_train.iloc[:, 5 : 6] = np.round(si_mean.fit_transform(df_train.iloc[:, 5 : 6]))
df_train.iloc[:, 16 : 20] = np.round(si_mean.fit_transform(df_train.iloc[:, 16 : 20]))

In [ ]:
df_train.isna().sum()

Client_Income                 0
Car_Owned                     0
Bike_Owned                    0
Active_Loan                   0
House_Own                     0
Child_Count                   0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Education              0
Client_Marital_Status         0
Client_Gender                 0
Loan_Contract_Type            0
Client_Housing_Type           0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
Registration_Days             0
ID_Days                       0
Mobile_Tag                    0
Homephone_Tag                 0
Workphone_Working             0
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Application_Process_Day       0
Application_Process_Hour      0
Client_Permanent_Match_Tag    0
Client_Contact_Work_Tag       0
Type_Organization             0
Score_Source_2                0
Score_Source_3                0
Phone_Change                  0
Credit_Bureau                 0
Default                       0
dtype: int64

In [ ]:
df_train['Accompany_Client'].unique()

array(['Alone', 'Relative', 'Others', 'Kids', 'Partner', '##', 'Group'],
      dtype=object)

In [ ]:
# Label encoding for categorical columns
from sklearn.preprocessing import LabelEncoder
cols = ["Accompany_Client", "Client_Marital_Status", "Client_Income_Type", "Client_Education", "Client_Gender", "Loan_Contract_Type", "Client_Housing_Type", "Client_Occupation", "Client_Permanent_Match_Tag", "Client_Contact_Work_Tag", "Type_Organization"]
df_train[cols] = df_train[cols].apply(LabelEncoder().fit_transform)

In [ ]:
df_train.head(2)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau,Default
0,6750.0,0.0,0.0,1.0,0.0,0.0,61190.55,3416.85,1,1,...,6.0,17.0,1,1,42,0.478787,0.51118,63.000000,0.0,0
1,20250.0,1.0,0.0,1.0,1.0,0.0,15282.00,1826.55,1,5,...,3.0,10.0,1,1,11,0.215068,0.51118,962.106056,0.0,0

In [ ]:
df_train['Client_Contact_Work_Tag'].unique()

array([1, 0])

Model Training

In [ ]:
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import accuracy_score,auc,roc_curve,f1_score, recall_score, precision_score, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
import pickle
from imblearn.combine import SMOTETomek

In [ ]:
X = df_train.drop("Default", axis = 1)
y = df_train["Default"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [ ]:
rf_classifier = RandomForestClassifier()
rf_classifier.fit(X_train, y_train)
y_pred = rf_classifier.predict(X_test)
accuracy_score(y_test, y_pred) * 100

93.06171015919908

In [ ]:
#training_score = []
#testing_score = []

def accuracy_check(x,y,models):
    #train test split

    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

    model=models().fit(x_train,y_train)

    y_trainpred=model.predict(x_train)
    y_testpred=model.predict(x_test)

    #checking the accuracy_score
    accuracy_train=accuracy_score(y_train,y_trainpred)
    accuracy_test=accuracy_score(y_test,y_testpred)
    Precision_score=precision_score(y_test,y_testpred)
    Recall_score=recall_score(y_test,y_testpred)
    F1_Score=f1_score(y_test,y_testpred)

    metrics={"Model": models.__name__,
            "Accuracy_Train":accuracy_train,
            "Accuracy_Test":accuracy_test,
            "Precision_score":Precision_score,
             "Recall_score":Recall_score,
             "F1_score":F1_Score
            }
    return metrics

In [ ]:
accuracy_check(X,y,LogisticRegression)

{'Model': 'LogisticRegression',
 'Accuracy_Train': 0.9194534487710804,
 'Accuracy_Test': 0.9182258329230264,
 'Precision_score': 0.0,
 'Recall_score': 0.0,
 'F1_score': 0.0}

In [ ]:
accuracy_check(X,y,KNeighborsClassifier)

{'Model': 'KNeighborsClassifier',
 'Accuracy_Train': 0.9231155881990891,
 'Accuracy_Test': 0.9106351550960118,
 'Precision_score': 0.1760299625468165,
 'Recall_score': 0.02344139650872818,
 'F1_score': 0.04137323943661972}

In [ ]:
accuracy_check(X,y,DecisionTreeClassifier)

{'Model': 'DecisionTreeClassifier',
 'Accuracy_Train': 1.0,
 'Accuracy_Test': 0.8689069423929099,
 'Precision_score': 0.23850085178875638,
 'Recall_score': 0.2846975088967972,
 'F1_score': 0.25955967555040554}

In [ ]:
accuracy_check(X,y,RandomForestClassifier)

{'Model': 'RandomForestClassifier',
 'Accuracy_Train': 0.9999384514381847,
 'Accuracy_Test': 0.9282373215164943,
 'Precision_score': 1.0,
 'Recall_score': 0.13458683819891143,
 'F1_score': 0.23724378543392935}

In [ ]:
accuracy_check(X,y,AdaBoostClassifier)

{'Model': 'AdaBoostClassifier',
 'Accuracy_Train': 0.9188174469656559,
 'Accuracy_Test': 0.9205235516166093,
 'Precision_score': 0.4444444444444444,
 'Recall_score': 0.004134366925064599,
 'F1_score': 0.00819252432155658}

In [ ]:
df_train.to_csv("Vehicle_Loan_Train_Data.csv",index=False)

In [ ]:
data=pd.read_csv(r"/content/Vehicle_Loan_Train_Data.csv")
data.tail(2)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau,Default
121854,38250.0,1.0,1.0,0.0,1.0,0.0,45000.00,2719.35,1,5,...,1.0,12.0,1,1,5,0.103538,0.077499,0.0,2.0,0
121855,9000.0,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,1,1,...,4.0,6.0,1,1,5,0.556414,0.298595,805.0,0.0,0

In [ ]:
#Sampling to make the data balanced
data['Default'].value_counts()

Default
0    112011
1      9845
Name: count, dtype: int64

In [ ]:
x=data.drop(columns=["Default"],axis=1)
y=data["Default"]

In [ ]:
#do sampling to make count balanced Synthetic minority oversampling technique
x_new,y_new= SMOTETomek().fit_resample(x,y)

In [ ]:
y_new.value_counts()

Default
0    111543
1    111543
Name: count, dtype: int64

In [ ]:
accuracy_check(x_new,y_new,RandomForestClassifier) #accuracy after sampling

{'Model': 'RandomForestClassifier',
 'Accuracy_Train': 0.9999943967546002,
 'Accuracy_Test': 0.9638710834192479,
 'Precision_score': 0.9988900149606679,
 'Recall_score': 0.9287028312469152,
 'F1_score': 0.9625186011904762}

In [ ]:
X_train,x_test,y_train,y_test=train_test_split(x_new,y_new,test_size=0.2,random_state=42)

model=RandomForestClassifier().fit(X_train,y_train)

y_pred_train=model.predict(X_train)
y_pred_test=model.predict(x_test)

#checking the accuracy score of train and test data

accuracy_train=accuracy_score(y_train,y_pred_train)
accuracy_test=accuracy_score(y_test,y_pred_test)

print("Accuracy scores of train and test data")
print("Train_Accuracy",accuracy_train)
print("Test_Accuracy",accuracy_test)
print("Confusion_matrix for Test")
print(confusion_matrix(y_true= y_test, y_pred= y_pred_test))

Accuracy scores of train and test data
Train_Accuracy 0.9999943967546002
Test_Accuracy 0.9641624456497377
Confusion_matrix for Test
[[22260    15]
 [ 1584 20759]]

In [ ]:
model.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'monotonic_cst': None,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [ ]:
X_train,x_test,y_train,y_test=train_test_split(x_new,y_new,test_size=0.2,random_state=42)

model=RandomForestClassifier(min_samples_leaf=1,max_features="sqrt",min_samples_split=2,n_estimators=200).fit(X_train,y_train)

y_pred_train=model.predict(X_train)
y_pred_test=model.predict(x_test)

#checking the accuracy score of train and test data

accuracy_train=accuracy_score(y_train,y_pred_train)
accuracy_test=accuracy_score(y_test,y_pred_test)

print("Accuracy scores of train and test data")
print("Train_Accuracy",accuracy_train)
print("Test_Accuracy",accuracy_test)
print("Confusion_matrix for Test")
print(confusion_matrix(y_true= y_test, y_pred= y_pred_test))

Accuracy scores of train and test data
Train_Accuracy 1.0
Test_Accuracy 0.9644538078802277
Confusion_matrix for Test
[[22260    15]
 [ 1571 20772]]

In [ ]:
data.to_csv("Vehicle_Loan_Train_Data_AS.csv",index=False)

In [ ]:
data_AS=pd.read_csv(r"/content/Vehicle_Loan_Train_Data_AS.csv")
data_AS.tail(2)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau,Default
121854,38250.0,1.0,1.0,0.0,1.0,0.0,45000.00,2719.35,1,5,...,1.0,12.0,1,1,5,0.103538,0.077499,0.0,2.0,0
121855,9000.0,1.0,1.0,1.0,1.0,1.0,62428.95,4201.65,1,1,...,4.0,6.0,1,1,5,0.556414,0.298595,805.0,0.0,0

In [ ]:
with open("VehicleLoan_Classification_Model_AFHP.pkl","wb") as f:
    pickle.dump(model,f)

In [ ]:
with open("VehicleLoan_Classification_Model_AFHP.pkl","rb") as f1:
    class_model_afhp= pickle.load(f1)

In [77]:
#Sample Data Testing
df=pd.DataFrame({
                 'Client_Income':11250,
                 'Car_Owned':0,
                 'Bike_Owned':1,
                 'Active_Loan':1,
                 'House_Own':1,
                 'Child_Count':1,
                 'Credit_Amount':91800,
                'Loan_Annuity':2683.8,
                'Accompany_Client':1,
                'Client_Income_Type':5,
                'Client_Education':4,
                'Client_Marital_Status':2,
                'Client_Gender':0,
                'Loan_Contract_Type':0,
                'Client_Housing_Type':1,
                'Population_Region_Relative':1,
                'Age_Days':9899,
                'Employed_Days':1892,
                'Registration_Days':477,
                'ID_Days':2571,
                'Mobile_Tag':1,
                'Homephone_Tag':1,
                'Workphone_Working':1,
                'Client_Occupation':8,
                'Client_Family_Members':2,
                'Cleint_City_Rating':2,
                'Application_Process_Day':6,
               'Application_Process_Hour':11,
                'Client_Permanent_Match_Tag':1,
                'Client_Contact_Work_Tag':0,
                'Type_Organization':5,
                'Score_Source_2':0.495404,
                'Score_Source_3':0.51118,
                'Phone_Change':1629,
                'Credit_Bureau':0},index=[0])

In [78]:
y_p=class_model_afhp.predict(df)
if(y_p==0):
  print("No Default")
else:
  print("Default")

No Default

Test Data

In [79]:
df_test=pd.read_csv(r"/content/sample_data/Test_Dataset.csv")
df_test

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_1,Score_Source_2,Score_Source_3,Social_Circle_Default,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,16.0,Yes,Yes,Self-employed,NaN,0.757151,0.629674,0.0515,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,18.0,No,Yes,Self-employed,NaN,0.342269,NaN,NaN,181.0,NaN
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,19.0,Yes,Yes,Business Entity Type 3,NaN,0.683665,NaN,0.1503,281.0,NaN
3,12265215,20250,0.0,0.0,1.0,0.0,0.0,50849.55,3814.65,Alone,...,20.0,No,No,Medicine,0.351581,0.22995,0.672243,NaN,1442.0,4.0
4,12203970,13500,1.0,1.0,0.0,1.0,0.0,43603.2,2515.95,Alone,...,13.0,Yes,Yes,Self-employed,0.731110,0.566971,0.730987,NaN,927.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80895,12210181,11700,0.0,0.0,0.0,1.0,2.0,107820,3152.25,Alone,...,9.0,Yes,No,Self-employed,0.495015,0.599436,0.276440695,NaN,537.0,1.0
80896,12206257,29250,0.0,1.0,1.0,1.0,2.0,116430.75,4630.5,Alone,...,15.0,Yes,Yes,Kindergarten,0.803057,NaN,0.680138822,0.1072,316.0,0.0
80897,12200446,54000,1.0,0.0,1.0,1.0,0.0,52128,2742.3,Alone,...,14.0,Yes,No,Self-employed,NaN,0.403059,0.215182404,NaN,426.0,0.0
80898,12244943,13500,0.0,0.0,1.0,0.0,0.0,25470,1435.05,Alone,...,5.0,Yes,Yes,Industry: type 9,NaN,0.236402,0.579727423,0.1392,1186.0,2.0
80899,12229890,10350,1.0,0.0,0.0,0.0,1.0,26955,1475.1,Alone,...,9.0,Yes,Yes,Business Entity Type 2,0.127368,0.442904,0.456109739,0.1206,1056.0,1.0

In [80]:
df_test.isna().sum()

ID                                0
Client_Income                  2434
Car_Owned                      2405
Bike_Owned                     2486
Active_Loan                    2454
House_Own                      2347
Child_Count                    2328
Credit_Amount                  2287
Loan_Annuity                   3203
Accompany_Client               1208
Client_Income_Type             2501
Client_Education               2350
Client_Marital_Status          2443
Client_Gender                  1627
Loan_Contract_Type             2321
Client_Housing_Type            2408
Population_Region_Relative     3270
Age_Days                       2479
Employed_Days                  2421
Registration_Days              2398
ID_Days                        3881
Own_House_Age                 53581
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             27845
Client_Family_Members          1644
Cleint_City_Rating             1631
Application_Process_Day        1539
Application_Process_Hour       2406
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              2459
Score_Source_1                45493
Score_Source_2                 3715
Score_Source_3                18018
Social_Circle_Default         41090
Phone_Change                   2423
Credit_Bureau                 12282
dtype: int64

In [81]:
#dropping columns with more than 50% null value
df_test.drop(columns=["Own_House_Age","Score_Source_1","Social_Circle_Default"],axis=1,inplace=True)
df_test.head(3)

,ID,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,...,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau
0,12202227,11250,0.0,1.0,1.0,1.0,0.0,112500,4474.8,Relative,...,2.0,4.0,16.0,Yes,Yes,Self-employed,0.757151,0.629674,716.0,2.0
1,12279381,13500,1.0,1.0,1.0,1.0,3.0,49752,3252.15,Alone,...,3.0,3.0,18.0,No,Yes,Self-employed,0.342269,NaN,181.0,NaN
2,12222714,38250,0.0,1.0,0.0,1.0,0.0,67500,3375,Alone,...,1.0,2.0,19.0,Yes,Yes,Business Entity Type 3,0.683665,NaN,281.0,NaN

In [82]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80900 entries, 0 to 80899
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          80900 non-null  int64
 1   Client_Income               78466 non-null  object
 2   Car_Owned                   78495 non-null  float64
 3   Bike_Owned                  78414 non-null  float64
 4   Active_Loan                 78446 non-null  float64
 5   House_Own                   78553 non-null  float64
 6   Child_Count                 78572 non-null  float64
 7   Credit_Amount               78613 non-null  object
 8   Loan_Annuity                77697 non-null  object
 9   Accompany_Client            79692 non-null  object
 10  Client_Income_Type          78399 non-null  object
 11  Client_Education            78550 non-null  object
 12  Client_Marital_Status       78457 non-null  object
 13  Client_Gender               79273 non-null  object
 14  Loan_Contract_Type          78579 non-null  object
 15  Client_Housing_Type         78492 non-null  object
 16  Population_Region_Relative  77630 non-null  object
 17  Age_Days                    78421 non-null  object
 18  Employed_Days               78479 non-null  object
 19  Registration_Days           78502 non-null  object
 20  ID_Days                     77019 non-null  object
 21  Mobile_Tag                  80900 non-null  int64
 22  Homephone_Tag               80900 non-null  int64
 23  Workphone_Working           80900 non-null  int64
 24  Client_Occupation           53055 non-null  object
 25  Client_Family_Members       79256 non-null  float64
 26  Cleint_City_Rating          79269 non-null  float64
 27  Application_Process_Day     79361 non-null  float64
 28  Application_Process_Hour    78494 non-null  float64
 29  Client_Permanent_Match_Tag  80900 non-null  object
 30  Client_Contact_Work_Tag     80900 non-null  object
 31  Type_Organization           78441 non-null  object
 32  Score_Source_2              77185 non-null  object
 33  Score_Source_3              62882 non-null  object
 34  Phone_Change                78477 non-null  float64
 35  Credit_Bureau               68618 non-null  float64
dtypes: float64(11), int64(4), object(21)
memory usage: 22.2+ MB

In [83]:
# Converting the columns to Numeric datatypes

df_test.Client_Income.replace("$", np.nan, inplace = True)
df_test.Client_Income = pd.to_numeric(df_test.Client_Income)

In [84]:
df_test.Credit_Amount.replace("$", np.nan, inplace = True)
df_test.Credit_Amount = pd.to_numeric(df_test.Credit_Amount)

In [85]:
df_test.Loan_Annuity.replace(["#VALUE!","$"], np.nan, inplace = True)
df_test.Loan_Annuity = pd.to_numeric(df_test.Loan_Annuity)

In [86]:
df_test.Age_Days.replace("x", np.nan, inplace = True)
df_test.Age_Days = pd.to_numeric(df_test.Age_Days)

In [87]:
df_test.Employed_Days.replace("x", np.nan, inplace = True)
df_test.Employed_Days = pd.to_numeric(df_test.Employed_Days)

In [88]:
df_test.Registration_Days.replace("x", np.nan, inplace = True)
df_test.Registration_Days = pd.to_numeric(df_test.Registration_Days)

df_test.ID_Days.replace("x", np.nan, inplace = True)
df_test.ID_Days = pd.to_numeric(df_test.ID_Days)

df_test["Score_Source_3"].replace("#", np.nan, inplace=True)
df_test.Score_Source_3 = pd.to_numeric(df_test.Score_Source_3)

df_test["Score_Source_2"].replace("#", np.nan, inplace=True)
df_test.Score_Source_2 = pd.to_numeric(df_test.Score_Source_2)

In [89]:
#feature engineering
# New Column is created on the basis of Population_Region_Relative column whether the Client area is Populated area or not

df_test["Population_Region_Relative"].replace(["#","@"], np.nan, inplace=True)
df_test.Population_Region_Relative = pd.to_numeric(df_test.Population_Region_Relative)
populated_Region_mean = df_test.Population_Region_Relative.mean()
temp = df_test.copy()
temp[temp["Population_Region_Relative"] < populated_Region_mean] = 0 # 0 for less populated area
temp[temp["Population_Region_Relative"] >= populated_Region_mean] = 1 # 1 for high populated area
df_test["Population_Region_Relative"] = temp["Population_Region_Relative"]

In [90]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80900 entries, 0 to 80899
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          80900 non-null  int64
 1   Client_Income               78449 non-null  float64
 2   Car_Owned                   78495 non-null  float64
 3   Bike_Owned                  78414 non-null  float64
 4   Active_Loan                 78446 non-null  float64
 5   House_Own                   78553 non-null  float64
 6   Child_Count                 78572 non-null  float64
 7   Credit_Amount               78609 non-null  float64
 8   Loan_Annuity                77692 non-null  float64
 9   Accompany_Client            79692 non-null  object
 10  Client_Income_Type          78399 non-null  object
 11  Client_Education            78550 non-null  object
 12  Client_Marital_Status       78457 non-null  object
 13  Client_Gender               79273 non-null  object
 14  Loan_Contract_Type          78579 non-null  object
 15  Client_Housing_Type         78492 non-null  object
 16  Population_Region_Relative  77622 non-null  float64
 17  Age_Days                    78416 non-null  float64
 18  Employed_Days               78474 non-null  float64
 19  Registration_Days           78497 non-null  float64
 20  ID_Days                     77014 non-null  float64
 21  Mobile_Tag                  80900 non-null  int64
 22  Homephone_Tag               80900 non-null  int64
 23  Workphone_Working           80900 non-null  int64
 24  Client_Occupation           53055 non-null  object
 25  Client_Family_Members       79256 non-null  float64
 26  Cleint_City_Rating          79269 non-null  float64
 27  Application_Process_Day     79361 non-null  float64
 28  Application_Process_Hour    78494 non-null  float64
 29  Client_Permanent_Match_Tag  80900 non-null  object
 30  Client_Contact_Work_Tag     80900 non-null  object
 31  Type_Organization           78441 non-null  object
 32  Score_Source_2              77184 non-null  float64
 33  Score_Source_3              62880 non-null  float64
 34  Phone_Change                78477 non-null  float64
 35  Credit_Bureau               68618 non-null  float64
dtypes: float64(21), int64(4), object(11)
memory usage: 22.2+ MB

In [91]:
#dropping ID column
df_test.drop('ID', axis = 1,inplace=True)
df_test.tail(2)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau
80898,13500.0,0.0,0.0,1.0,0.0,0.0,25470.0,1435.05,Alone,Service,...,2.0,6.0,5.0,Yes,Yes,Industry: type 9,0.236402,0.579727,1186.0,2.0
80899,10350.0,1.0,0.0,0.0,0.0,1.0,26955.0,1475.10,Alone,NaN,...,3.0,4.0,9.0,Yes,Yes,Business Entity Type 2,0.442904,0.456110,1056.0,1.0

In [92]:
df_test.isna().sum()

Client_Income                  2451
Car_Owned                      2405
Bike_Owned                     2486
Active_Loan                    2454
House_Own                      2347
Child_Count                    2328
Credit_Amount                  2291
Loan_Annuity                   3208
Accompany_Client               1208
Client_Income_Type             2501
Client_Education               2350
Client_Marital_Status          2443
Client_Gender                  1627
Loan_Contract_Type             2321
Client_Housing_Type            2408
Population_Region_Relative     3278
Age_Days                       2484
Employed_Days                  2426
Registration_Days              2403
ID_Days                        3886
Mobile_Tag                        0
Homephone_Tag                     0
Workphone_Working                 0
Client_Occupation             27845
Client_Family_Members          1644
Cleint_City_Rating             1631
Application_Process_Day        1539
Application_Process_Hour       2406
Client_Permanent_Match_Tag        0
Client_Contact_Work_Tag           0
Type_Organization              2459
Score_Source_2                 3716
Score_Source_3                18020
Phone_Change                   2423
Credit_Bureau                 12282
dtype: int64

In [93]:
# Applying Mode
df_test.iloc[:, 0 : 5] = si_mode.fit_transform(df_test.iloc[:, 0 : 5])
df_test.iloc[:, 8 : 16] = si_mode.fit_transform(df_test.iloc[:, 8 : 16])
df_test.iloc[:, 20 : 31] = si_mode.fit_transform(df_test.iloc[:, 20 : 31])
df_test.iloc[:, 34 : 35] = si_mode.fit_transform(df_test.iloc[:, 34 : 35])

In [94]:
# Applying Mean
df_test.iloc[:, 6 : 8] = si_mean.fit_transform(df_test.iloc[:, 6 : 8])
df_test.iloc[:, 31 : 34] = si_mean.fit_transform(df_test.iloc[:, 31 : 34])

In [95]:
# Applying Mean with Round Function for req columns
df_test.iloc[:, 5 : 6] = np.round(si_mean.fit_transform(df_test.iloc[:, 5 : 6]))
df_test.iloc[:, 16 : 20] = np.round(si_mean.fit_transform(df_test.iloc[:, 16 : 20]))

In [96]:
df_test.isna().sum()

Client_Income                 0
Car_Owned                     0
Bike_Owned                    0
Active_Loan                   0
House_Own                     0
Child_Count                   0
Credit_Amount                 0
Loan_Annuity                  0
Accompany_Client              0
Client_Income_Type            0
Client_Education              0
Client_Marital_Status         0
Client_Gender                 0
Loan_Contract_Type            0
Client_Housing_Type           0
Population_Region_Relative    0
Age_Days                      0
Employed_Days                 0
Registration_Days             0
ID_Days                       0
Mobile_Tag                    0
Homephone_Tag                 0
Workphone_Working             0
Client_Occupation             0
Client_Family_Members         0
Cleint_City_Rating            0
Application_Process_Day       0
Application_Process_Hour      0
Client_Permanent_Match_Tag    0
Client_Contact_Work_Tag       0
Type_Organization             0
Score_Source_2                0
Score_Source_3                0
Phone_Change                  0
Credit_Bureau                 0
dtype: int64

In [98]:
from sklearn.preprocessing import LabelEncoder
cols = ["Accompany_Client","Client_Income_Type", "Client_Marital_Status", "Client_Education", "Client_Gender", "Loan_Contract_Type", "Client_Housing_Type", "Client_Occupation", "Client_Permanent_Match_Tag", "Client_Contact_Work_Tag", "Type_Organization"]
df_test[cols] = df_test[cols].apply(LabelEncoder().fit_transform)

In [99]:
df_test.to_csv("Vehicle_Loan_Test_Data.csv",index=False)

In [101]:
test_final=pd.read_csv(r"/content/Vehicle_Loan_Test_Data.csv")
test_final.tail(2)

,Client_Income,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Credit_Amount,Loan_Annuity,Accompany_Client,Client_Income_Type,...,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Type_Organization,Score_Source_2,Score_Source_3,Phone_Change,Credit_Bureau
80898,13500.0,0.0,0.0,1.0,0.0,0.0,25470.0,1435.05,1,4,...,2.0,6.0,5.0,1,1,26,0.236402,0.579727,1186.0,2.0
80899,10350.0,1.0,0.0,0.0,0.0,1.0,26955.0,1475.10,1,4,...,3.0,4.0,9.0,1,1,4,0.442904,0.456110,1056.0,1.0

In [102]:
y_p = class_model_afhp.predict(test_final)
test_final['Default'] = y_p
print(test_final)

       Client_Income  Car_Owned  Bike_Owned  Active_Loan  House_Own  \
0            11250.0        0.0         1.0          1.0        1.0
1            13500.0        1.0         1.0          1.0        1.0
2            38250.0        0.0         1.0          0.0        1.0
3            20250.0        0.0         0.0          1.0        0.0
4            13500.0        1.0         1.0          0.0        1.0
...              ...        ...         ...          ...        ...
80895        11700.0        0.0         0.0          0.0        1.0
80896        29250.0        0.0         1.0          1.0        1.0
80897        54000.0        1.0         0.0          1.0        1.0
80898        13500.0        0.0         0.0          1.0        0.0
80899        10350.0        1.0         0.0          0.0        0.0

       Child_Count  Credit_Amount  Loan_Annuity  Accompany_Client  \
0              0.0      112500.00       4474.80                 6
1              3.0       49752.00       3252.15                 1
2              0.0       67500.00       3375.00                 1
3              0.0       50849.55       3814.65                 1
4              0.0       43603.20       2515.95                 1
...            ...            ...           ...               ...
80895          2.0      107820.00       3152.25                 1
80896          2.0      116430.75       4630.50                 1
80897          0.0       52128.00       2742.30                 1
80898          0.0       25470.00       1435.05                 1
80899          1.0       26955.00       1475.10                 1

       Client_Income_Type  ...  Application_Process_Day  \
0                       4  ...                      4.0
1                       4  ...                      3.0
2                       1  ...                      2.0
3                       2  ...                      6.0
4                       4  ...                      1.0
...                   ...  ...                      ...
80895                   4  ...                      2.0
80896                   2  ...                      6.0
80897                   4  ...                      3.0
80898                   4  ...                      6.0
80899                   4  ...                      4.0

       Application_Process_Hour  Client_Permanent_Match_Tag  \
0                          16.0                           1
1                          18.0                           0
2                          19.0                           1
3                          20.0                           0
4                          13.0                           1
...                         ...                         ...
80895                       9.0                           1
80896                      15.0                           1
80897                      14.0                           1
80898                       5.0                           1
80899                       9.0                           1

       Client_Contact_Work_Tag  Type_Organization  Score_Source_2  \
0                            1                 42        0.757151
1                            1                 42        0.342269
2                            1                  5        0.683665
3                            0                 30        0.229950
4                            1                 42        0.566971
...                        ...                ...             ...
80895                        0                 42        0.599436
80896                        1                 28        0.515739
80897                        0                 42        0.403059
80898                        1                 26        0.236402
80899                        1                  4        0.442904

       Score_Source_3  Phone_Change  Credit_Bureau  Default
0            0.629674         716.0            2.0        0
1            0.511575         181.0            0.0        0
2            0.511575         281.0            0.0        0
3            0.672243        1442.0            4.0        0
4            0.730987         927.0            1.0        0
...               ...           ...            ...      ...
80895        0.276441         537.0            1.0        0
80896        0.680139         316.0            0.0        0
80897        0.215182         426.0            0.0        0
80898        0.579727        1186.0            2.0        0
80899        0.456110        1056.0            1.0        0

[80900 rows x 36 columns]

In [105]:
# Instead of using the modified df_test, read the original test data again
original_df_test = pd.read_csv(r"/content/sample_data/Test_Dataset.csv")

# Now, concatenate the 'ID' column from original_df_test with the 'Default' column from test_final
df_final_predicted = pd.concat([original_df_test['ID'], test_final['Default']], axis=1)

df_final_predicted  # Display the final predicted DataFrame

             ID  Default
0      12202227        0
1      12279381        0
2      12222714        0
3      12265215        0
4      12203970        0
...         ...      ...
80895  12210181        0
80896  12206257        0
80897  12200446        0
80898  12244943        0
80899  12229890        0

[80900 rows x 2 columns]

In [106]:
df_final_predicted.to_csv("Final_Predicted.csv")